spring:
  application:
    name: tbd-api-gateway
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_CLIENT_ID}
            client-secret: ${OAUTH2_CLIENT_SECRET}
            scope:
              - email
              - profile
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 1
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: lb://tbd-user-service
              predicates:
                - Path=/tbd/api/users/**
              filters:
                - name: RequestRateLimiter
                  args:
                    redis-rate-limiter.replenishRate: 5             # How many tokens come back per second
                    redis-rate-limiter.burstCapacity: 20            # Max tokens stored
                    redis-rate-limiter.requestedTokens: 1           # Tokens per request
                    key-resolver: "#{@commonApiKeyResolver}"        # Who is being limited
                    # “User can request 20 times at once, then 5 per second.”
#            - id: auth-refresh-route # NOT WORKING NOW
#              uri: no-op://true  # no forwarding
#              order: -200
#              predicates:
#                - Path=/tbd/auth/refresh
#                - Method=POST
#              filters:
#                - name: RequestRateLimiter
#                  args:
#                    redis-rate-limiter.replenishRate: 1           # How many tokens come back per second
#                    redis-rate-limiter.burstCapacity: 2           # Max tokens stored
#                    redis-rate-limiter.requestedTokens: 1         # Tokens per request
#                    key-resolver: "#{@refreshTokenKeyResolver}"   # Who is being limited
#                    # “User can refresh token 2 times at once, then 1 per second.”
#                - RefreshToken
server:
  port: 2030

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:${EUREKA_PASSWORD}@localhost:2031/eureka

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90

app:
  jwt:
    secret: 'this_is-the-secret-which-is-used-for-jwt-token-and-this-should-remain-secret'
    issuer: 'the-best-dukkan'
    accessTokenExpiryInMinutes: 15
    refreshTokenExpiryInDays: 7

management:
  endpoints:
    web:
      exposure:
        include: health,info
      base-path: "/tbd/${spring.application.name}/actuator"
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    org.springframework.security: DEBUG